@-webkit-keyframes demo {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes demo {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes demo {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes demo {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cutive Mono", monospace;
  position: relative;
  overflow-x: hidden !important;
  background-color: black;
}

.wrapper {
  position: fixed;
  box-sizing: border-box;
}

svg {
  display: inline-block !important;
  position: relative;
  background: linear-gradient(45deg, #070707 43%, #070707 43%, #070707 43%, #000000 45%, #000000 70%) !important;
  background-size: 1800% 1800%;
  -webkit-animation: demo 10s ease infinite;
  -moz-animation: demo 10s ease infinite;
  animation: demo 10s ease infinite;
}
.controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  z-index: 9999;
  background-color: white;
  text-align: left;
  overflow: scroll;
  width: 320px;
  box-sizing: border-box;
  background-color: black;
}

.config {
    max-width: 320px;
    overflow-x: scroll;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 5px;
  color: rgb(192, 192, 192);
}

p,
pre {
  color: rgb(192, 192, 192);
}

input {
  margin-left: 5px;
  opacity: .85 !important;
}

button {
  display: block;
  margin: 0 0 5px;
  background-color: transparent;
  color: rgb(192, 192, 192);
  border-color: rgb(192, 192, 192);
  padding: 3px 8px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 99999;
  pointer-events: none;
  opacity: .35;
}
